<p>Cześć</p>
<p>
  Dostaliśmy informację, że chcesz założyć konto w aplikacji Planner. Jeśli tak potwierdź rejestrację klikając w poniższy link:
</p>

<a href={{activateAccountUrl}}><h2>Kliknij aby dokończyć rejestracje</h2></a>
<br>
<a href={{activateAccountUrl}}>{{activateAccountUrl}}</a>
